*{
    margin : 0;
    padding:0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: var(--bg-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: var(--bg-color) ;
    background-position: right;
    background-size: cover;
    /* background-size: 100%; */
}

.home-content{
    max-width: 60rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span{
    color: var(--text-color);
}
 .home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(5, 13, 116);
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .box{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border-radius: .8rem;
    border-color: 2px solid var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    overflow: hidden;
    z-index: 1;
    transition: .5s;

} 
.btn-box .box::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .box:hover{
    color: var(--main-color);
}
.btn-box .box:hover::before{
    width: 100%;
}


.btn-box .box:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .box:nth-child(2)::before{
    background: var(--main-color);
}


.btn-box .box:nth-child(2):hover{
    color: var(--bg-color);
} 

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a:hover::before{
    width: 100%;
}
.home img{
    display: inline-flex;
    
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 75%;
    padding-left: 10rem;
    margin-left: 10rem;
}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: transparent;
    border: 2px solid var(--bg-color);
    transition: 3s;
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .3;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align:center;
}

span{
    color: var(--main-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
#btns{
    display: inline-block;
    width: 15rem;
}
#btns a::before{
    background: var(--second-bg-color);

}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    transition: .5s;
    z-index: -1;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
 .skill .skill-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skill-row .skill-column{
    flex: 1 1 40rem;
}

.skill-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.skill-column .skill-box{
    border-left: .2rem solid var(--main-color);
}
.skill-box .skill-content{
    position: relative;
    padding-left: 2rem;
}


 .skill-box .skill-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
} 
.skill-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
 .skill-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    transition: .5s;
    z-index: -1;
}

.skill-content .content:hover::before{
    width: 100%;
}
 


.skill-content .content h3{
    font-size: 2rem;
}
.skill-content .content p{
    font-size: 1.6rem;
}
.skill-content .content ul {
    text-decoration: none;
    list-style: none;
}
.skill-content .content ul li{
    font-size: 1.6rem;
}
 
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;

}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), var(--second-bg-color));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    top: 0;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--bg-color);
    font-weight: 1000;
}

.layer p{
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.6;
    font-size: 14px;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}



.contact{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    top: 0;
}
.contact-text{
    top: 0;
    width: 100%;
}

.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}
.contact-text h2{
    line-height: 1;
    padding: 1rem;
}
.contact-text p{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 30px;

}
.list{
    margin-bottom: 1.5rem;
}
.list li{
    margin: 1rem;
    list-style: none;
}

.list li a{
    display: block;
    color: var(--text-color);
    font-size: 14px;
    transition: all .45s ease;
}
.list li a:hover{
    color: wheat;
    transform: translateX(5px);
}

.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--bg-color);
    color: var(--main-color);

    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}
.contact-icons i:hover{
    background-color: var(--text-color);
    color: var(--main-color);
 } 
.contact-form form{
    position:sticky;

}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 150px;

}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
} 

/* .contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;

}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
} 
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
     z-index: -1;
    transition: .5s; 
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;

}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
} */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
    color: var(--text-color);
}
.footer-iconTop p {
    
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;

}


.footer-iconTop p i{
    font-size: 2.4rem;
    color: var(--bg-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media(max-width: 768px){
    .header{
        background: var(--bg-color);

    }
    /* #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } */
}
@media (max-width:520px){
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;

    }
    .home-sci{
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width:462px) {
    .home-content h1{
        font-size: 5.2rem;
    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }
    .contact forn .input-box .input-field{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
    }
}
@media (max-width: 371px) {
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
}